<form action="/doregister" accept-charset="UTF-8" method="post">
<input name="utf8" value="✓" type="hidden">
<%=token_tag nil%>
  <div class="field">
    <label for="username">Name</label><br>
    <input name="user[username]" id="username" type="text">
  </div>
  <div class="field">
    <label for="user_password">Password</label><br>
    <input name="user[password]" id="user_password" type="password">
  </div>
  <div class="field">
    <label for="user_passwordc">Confirm Password</label><br>
    <input name="user[password_confirmation]" id="user_password_confirmation" type="password">
  </div>
  <div class="actions">
    <input name="commit" value="Create user" type="submit"> &nbsp;
    <%=link_to 'Log In', "/"%>
  </div>
</form>